@import "tailwindcss";
@theme {
    --color-primary: #161440;
    --color-secondary: #ffd000;
    --color-tertiary: #ffffff;
    --color-background: #161440;
    --color-stockland: #2a6df6;
    --color-unsw: #ffdc00;
    --color-text: #e2e2e2;
    --color-card: #2b354f;
    --color-neon-green: #39ff14;
    --width-container: 1200px;
}

@layer base {
    html {
        scroll-behavior: smooth;
        background-color: var(--color-background);
    }
    html:has(dialog[open]) {
        overflow: hidden;
    }
    main,
    header,
    footer {
        font-family: "Monospace", sans-serif;
        background-color: var(--color-background);
        color: var(--color-text);
        max-width: var(--width-container);
        margin-inline: auto;
    }
    a:hover {
        text-decoration: none;
    }
    p {
        /* text-wrap: pre */
        text-wrap: "pretty";
    }
    section {
        padding-block: 2rem;
    }
    button {
        color: var(--color-text);
        padding: 0.5rem;
        border-radius: 0.25rem;
        border: none;
        cursor: pointer;
    }
    dialog {
        transition:
            display 0.75s allow-discrete,
            overlay 0.75s allow-discrete;

        animation: close 0.75s forwards;
        &[open] {
            animation: open 0.75s forwards;
        }
    }
    li::marker {
        color: var(--color-neon-green);
        font-weight: bold;
        content: ">";
    }
}

@layer components {
    .experience-card {
        view-transition-name: experience-card;
    }
    .glassmorphism {
        background: rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(10px);
        border-radius: 10px;
        border: 2px solid rgba(255, 255, 255, 0.2);
    }
}

@view-transition {
    navigation: auto;
}

@keyframes open {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes close {
    from {
        opacity: 1;
        transform: translateY(0);
    }
    to {
        opacity: 0;
        transform: translateY(10px);
    }
}
